{
    "extends": ["airbnb", "prettier", "prettier/react"],
    "plugins": ["react", "import", "prettier"],
    "parser": "babel-eslint",
    "rules": {
        "prettier/prettier": ["error", { "trailingComma": "all", "tabWidth": 4, "printWidth": 120 }],
        "import/prefer-default-export": "off",
        "import/no-named-as-default": "off",
        "import/no-named-as-default-member": "off",
        "react/no-render-return-value": "off",
        "react/destructuring-assignment": "off",
        "react/forbid-prop-types": "off",
        "react/no-deprecated": "off",
        "react/jsx-filename-extension": "off",
        "no-undef": "off",
        "no-shadow": "off"
    },
    "env": {
        "jest": true
    }
}
